<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %} Django Chat {% endblock title %}</title>
</head>
<body class="min-h-screen">
<main class="bg-gradient-to-b from-green-400 to-green-700 w-full min-h-screen">
    {% block header %}

        <nav class="flex items-center justify-between px-4 py-6 bg-green-700">
            <div>
                <a href="/" class="text-xl text-white">Chat App</a>
            </div>
            <div class="flex item-center space-x-8">
                <a href="{% url 'index' %}"
                   class="text-xl text-white hover:text-gray-300 transition-colors duration-300">Home</a>
                <a href="{% url 'rooms' %}"
                   class="text-xl text-white hover:text-gray-300 transition-colors duration-300">Rooms</a>
            </div>
            <div class="flex items-center space-x-4">
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="text-white hover:text-gray-200">Logout</a>
                {% else %}
                    <a href="/login" class="text-white hover:text-gray-200">Login</a>
                    <a href="{% url 'signup' %}"
                       class="px-4 py-2 rounded-xl text-white bg-green-500 hover:bg-green-800">Sign
                        Up</a>
                    </div>
                {% endif %}


        </nav>
    {% endblock header %}

    {% block content %}
    {% endblock content %}

</main>

</body>
</html>
